@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 50px;
  padding: 0;
  background-color: #a5b6a4;
  font-family: 'Roboto', sans-serif;
}

.content {
    width: 80%;
    padding: 50px;
    text-align: center;
    background-color: #738e71;
}

input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 50px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-button {
    border: none;
    padding: 12px 20px;
    margin: 8px 0;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.list-items {
    width: 100%;
    text-align: center;
}

.task-button {
    width: 70%;
    text-align: left;
    padding: 12px 20px;
    white-space: pre-wrap;
}

.finished-task-button {
    width: 70%;
    text-align: left;
    padding: 12px 20px;
    white-space: pre-wrap;
    text-decoration: line-through;
}